<?xml version="1.0" encoding="UTF-8" ?>
<Module>
  <ModulePrefs
    title="Translabot"
    title_url="http://translabot.appspot.com/"
    description="Translabot"
    author="Florian L"
    author_email="florian@e-lam.net"
    screenshot="http://embeddy.appspot.com/gadget/screenshot.png"
    thumbnail="http://embeddy.appspot.com/gadget/thumbnail.png"
    height="70">
    <Require feature="wave" />
    <Require feature="dynamic-height" />
  </ModulePrefs>
  <Content type="html">
    <![CDATA[
      
     <iframe id="embeddedIframe" width="100%" frameborder="0">
     </iframe>
      
    <script type="text/javascript">

        var embeddedIframe = document.getElementById('embeddedIframe');

        function stateUpdated() {
          if(wave.getState().get('wid')) {
            embeddedIframe.src = "http://translabot.appspot.com/ConfigBot?wid=" + wave.getState().get('wid');
          }
        }

        function init() {
          if (wave && wave.isInWaveContainer()) {
            wave.setStateCallback(stateUpdated);
          }
        }
        gadgets.util.registerOnLoadHandler(init);
    </script>
    

    ]]>
  </Content>
</Module>
